@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-slate-950;
}
header {
  @apply bg-white;
}

header {
  @apply px-2 md:px-36;
}
main {
  @apply px-2 py-10 md:py-4 md:w-2/3 mx-auto;
}
#tasklist {
  scrollbar-width: none;
}
textarea {
  resize: none;
}

.input-field {
  position: relative;
  transition: all 0.3s ease;
}
.input-field input {
  @apply bg-white dark:bg-slate-950 text-black dark:text-white;
}

.input-field label {
  position: absolute;
  top: -1.1rem;
  left: 0.25rem;
  background: #fff;
  padding: 0 0.25rem;
  @apply dark:bg-slate-950 dark:text-white;
}

.input-field input:focus ~ label {
  @apply text-blue-700;
}

button:disabled {
  @apply bg-slate-400 text-white border-slate-400;
}

button:disabled:hover {
  @apply bg-slate-400 text-white border-slate-400;
  cursor: not-allowed;
}

input[type="date"] {
  @apply bg-slate-200 rounded-lg md:bg-transparent;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  @apply border-2 border-blue-700 bg-white  dark:text-white;
  transition: background-color 5000s ease-in-out 0s;
} */

input {
  @apply dark:text-white dark:bg-slate-950;
}
