@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  @apply bg-white;
}

header,
main {
  @apply px-2 lg:px-36;
}
main {
  @apply py-4;
}
#tasklist {
  scrollbar-width: none;
}
textarea {
  resize: none;
}

.input-field {
  position: relative;
  transition: all 0.3s ease;
}
.input-field input {
  background: transparent;
}

.input-field label {
  position: absolute;
  top: -1.1rem;
  left: 0.25rem;
  background: #fff;
  padding: 0 0.25rem;
  transition: all 0.3s ease;
}

.input-field input:focus ~ label {
  @apply text-blue-700;
}

.input-field input:invalid
 {
  border-color: red;
}
.input-field input:invalid ~ label{
  color: red;
}